body {
    background-color: gainsboro
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.img-size {

}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}

.admin-img {
    max-width: 100px;
    height: 50px;
}

.display-flex {
    display: flex;
}

.label {
    width: 8rem;
    padding: 1rem;
}

.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.mooi {
    justify-content: right;
}

td,th {
    border: 1px solid;
    min-width: 10rem;
}